src/main/resources/xsd/hello.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://example.com/soap-web-service"
        targetNamespace="http://example.com/soap-web-service"
        elementFormDefault="qualified">
    <element name="getHelloRequest">
        <complexType>
            <sequence>
                <element name="name" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getHelloResponse">
        <complexType>
            <sequence>
                <element name="greeting" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>